{% extends "index1.html" %}

{% block content %}
<html lang="en" class="index-stock-page">
<body class="index-stock-page">
  <div class="container"></div>
  <div class="container1">
    <div class="content-wrapper">
      <div class="sidebar">
        <button class="color-btn">Красный</button>
        <button class="color-btn" data-color="blue">Синий</button>
        <button class="color-btn" data-color="green">Зеленый</button>
        <button class="color-btn" data-color="yellow">Желтый</button>
        <button class="color-btn" data-color="purple">Фиолетовый</button>
        <button class="color-btn" data-color="orange">Оранжевый</button>
        <button class="color-btn" data-color="pink">Розовый</button>
        <button class="color-btn" data-color="brown">Коричневый</button>
        <button class="color-btn" data-color="gray">Серый</button>
        <button class="color-btn" data-color="black">Черный</button>
        <button class="color-btn" data-color="white">Белый</button>
        <button class="color-btn" data-color="cyan">Голубой</button>
      </div>
      <div class="right-panel"></div>
      <div class="bottom-panel"></div>
    </div>
  </div>
  <script src="static/script.js"></script>
</body>
</html>
{% endblock %}
